---
layout: bootcamp
root: .
venue: Federal Reserve Board
address: 20th and C St NW. Washington DC. (Martin Building Dining Room E)
country: United-States
humandate: September 24-25, 2014
humantime: 9:00 am - 4:30 pm
startdate: 2014-09-24
enddate: 2014-09-25
latlng: 38.892944, -77.044877
registration: restricted
instructor: ["Ivan Gonzalez", "Steve Eddins", "Daniel Chen"]
helper: [""]
contact: admin@software-carpentry.org
---
<!--
    Edit the values in the parameter block above to be appropriate for your bootcamp.
    Please use three-letter month names for the 'humandate' field.
-->

<!--
    This block includes the Eventbrite registration widget if 'eventbrite' has been set in the header.
-->
{% if page.eventbrite %}
<iframe src="//www.eventbrite.com/tickets-external?eid={{page.eventbrite}}&ref=etckt" frameborder="0" width="100%" scrolling="auto"></iframe>
{% endif %}

<h2>General Information</h2>

<p>
  <a href="//software-carpentry.org">Software Carpentry</a>'s mission
  is to help scientists and engineers become more productive
  by teaching them basic lab skills for computing
  like program design, version control, data management, and task automation.
  This two-day hands-on bootcamp will cover basic concepts and tools;
  participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>

<!-- This block displays the instructors' names if they are available. -->
{% if page.instructor %}
<p>
  <strong>Instructors:</strong>
  {{page.instructor | join: ', ' %}}
</p>
{% endif %}

<!-- This block displays the helpers' names if they are available. -->
{% if page.helper %}
<p>
  <strong>Helpers:</strong>
  {{page.helper | join: ', ' %}}
</p>
{% endif %}

<!--
    Modify this block to reflect the target audience for your bootcamp.
    In particular, if it is only open to people from a particular institution,
    or if specialized prerequisite knowledge is required, please mention that.
-->
<p>
  <strong>Who:</strong> Economists and research assistants at the
  Federal Reserve Board
</p>

<!--
    This block displays the address and links to a map showing directions.
-->
{% if page.latlng %}
<p>
  <strong>Where:</strong>
  {{ page.address }}.
  Get directions with
  <a href="//www.openstreetmap.org/?mlat={{ page.latlng | replace:',','&mlon=' }}&zoom=16">OpenStreetMap</a>
  or
  <a href="//maps.google.com/maps?q={{ page.latlng }}">Google Maps</a>.
</p>
{% endif %}

<!--
    Modify the block below if there are any special requirements.
-->
<p>
  <strong>Requirements:</strong> Economists should contact RIS in
order to have a few specific software packages installed (listed
below) on their Board laptops.  RAs will be provided laptops for the
class by RIS.
</p>

<!--
    This block automatically inserts a contact email address if one has been specified for the page.
    If one hasn't, this block inserts the generic contact address for Software Carpentry.
-->
<p>
  <strong>Contact</strong>:
  Please mail
  {% if page.contact %}
    <a href='mailto:{{page.contact}}'>{{page.contact}}</a>
  {% else %}
    <a href='mailto:{{site.contact}}'>{{site.contact}}</a>
  {% endif %}
  for more information.
</p>

<hr/>

<!--
    Edit this block to show the schedule for your bootcamp.
-->
<h2>Schedule</h2>

<div class="row-fluid">
  <div class="span6">
    <h3>Day 1</h3>
    <ul>
      <li>9:00 - 9:30 Arrival and setup </li>
      <li>9:30 - 9:45 Welcome </li>
      <li> 9:45 - 10:30 Using the shell to do more in less time part 1</li>
      <li> 10:30 - 11:00 Break</li>
      <li> 11:00 - 12:00 Using the shell to do more in less time part 2</li>
      <li> 12:00 - 13:00 Lunch</li>
      <li> 13:00 - 15:00 Using version control to manage and share
	information part 1 </li>
      <li> 15:00 - 15:30 Break</li>
      <li> 15:30 - 16:00 Using version control to manage and share
	information part 2 </li>
      <li> 16:00 - 17:00 The MATLAB Language and Desktop Environment
      part 1</li>
    </ul>
  </div>
  <div class="span6">
    <h3>Day 2</h3>
    <ul>
      <li> 9:00 - 10:00  The MATLAB Language and Desktop Environment part
	2</li>
      <li> 10:00 - 10:30 Algorithm Design in MATLAB </li>
      <li> 10:30 - 11:00 Break
      <li> 11:00 - 12:00 Algorithm Design in MATLAB </li>
      <li> 12:00 - 13:00 Lunch</li>
      <li> 13:00 - 15:00 Test and Verification of MATLAB Code part 1</li>
      <li> 15:00 - 15:30 Break </li>
      <li> 15:30 - 16:00 Test and Verification of MATLAB Code part 2</li>
      <li> 16:00 - 17:15 Debugging and Improving Performance </li>
      <li> 17:15 - 17:30 Wrap-up</li>
    </ul>
  </div>
</div>

<hr/>

<!--
    Edit this block to show what topics will be covered.
-->
<h2>Syllabus</h2>

<div class="row-fluid">
  <div class="span6">
    <h3>The Unix Shell</h3>
    <ul>
      <li>Files and directories: <code>pwd</code>, <code>cd</code>, <code>ls</code>, <code>mkdir</code>, ...</li>
      <li>History and tab completion</li>
      <li>Pipes and redirection</li>
      <li>Looping over files</li>
      <li>Creating and running shell scripts</li>
      <li>Finding things: <code>grep</code>, <code>find</code>, ...</li>
      <li><a href="novice/ref/01-shell.html">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <h3>Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignoring files</li>
      <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving conflicts</li>
      <li>Open licenses</li>
      <li>Where to host work, and why</li>
      <li><a href="novice/ref/02-git.html">Reference...</a></li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span6">
    <h3>MATLAB</h3>
    <ul>
      <li>The MATLAB Language and Desktop Environment</li>
      <li>Algorithm Design in MATLAB</li>
      <li>Test and Verification of MATLAB Code</li>
      <li>Debugging and Improving Performance</li>
    </ul>
  </div>
</div>

<hr/>

<!--
    Edit the setup instructions in _includes/setup.html to reflect your bootcamp.
    (In particular, most bootcamps teach either Python or R, not both.)
-->

<h2>Setup</h2>

<p>
  To participate in a Software Carpentry bootcamp,
  you will need working copies of the software described below.
  Please make sure to install everything
  (or at least to download the installers)
  <em>before</em> the start of your bootcamp.
</p>

{% include setup.html %}
